__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

venv/
env/
.venv/
.env/

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

*.log
*.out
*.pem

*.sqlite3
*.db

.env
config/*.json
*.key
*.pem
secrets/
.idea
.cursor
logs/
FASTAPI_GUIDE.md
 
docker-compose.override.yml
**/Dockerfile.*.bak
 
static/
media/
cache/
responses/
 
.coverage
htmlcov/
.tox/
.pytest_cache/
.nox/

*.orig
*.rej
*.swp
thinket.md
.ruff_cache/
docs/

seed_auth_db.py
seed_post_db.py
seed_feed_db.py
seed_notification_db.py